$primary_1: #a91313;
$primary_2: #b7382d;
.form-container {
  .form-row {
    .img {
    }
    .content {
      .form-heading {
        color: $primary_1;
        font-size: 44px;
        font-weight: 600;
      }
      label {
        color: white;
      }
      input {
        background-color: white;
        color: black;
      }
      select {
        background-color: white;
        color: black;
      }
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
      }
    }
  }
  .form-btn {
    background-color: #a91313 !important;
    color: white;
  }
}
