* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins;
}

body {
  background-color: #000000 !important;
}

.sidebar {
  position: relative;
  min-height: 100%;
  width: 90px;
  background-color: #a91313;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar .logo_content .logo {
  margin-top: 20px;
  margin-left: 16px;
}

.sidebar .logo_content .logo .logo_name {
  margin-top: 7px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
  display: none;
  margin-left: 14px;
}

.sidebar .logo_content ul {
  margin-top: 130px;
  list-style-type: none;
  padding-left: 22px !important;
}

.sidebar .logo_content ul li {
  margin-bottom: 16px;
}

.sidebar .logo_content ul li .nav_home {
  margin-left: 14px;
  display: none;
}

.sidebar .logo_content ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.sidebar .logo_content ul a :hover {
  font-weight: 500;
  font-size: 19px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.sidebar .slide_icon {
  position: absolute;
  right: -19px;
  top: 50%;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar #log_in {
  position: absolute;
  right: 0px;
  top: 50%;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: none;
}

.container .row #landing-logo {
  width: 151px;
  height: 151px;
  margin-top: 100px;
}

.container .row .landing-logoName {
  color: white;
  text-align: center;
  font-family: stencil;
  font-size: 114px;
  font-weight: 400;
}

.container .row .landing-subtitle {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #686868;
  margin-bottom: 40px;
}

.container .row .landing-button {
  font-weight: 500 !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 20px;
  margin-top: 10px;
  background-color: #a91313 !important;
  color: white !important;
  border-radius: 13px;
}

@media (min-width: 576px) {
  #landing-logo {
    width: 140px !important;
    height: 140px !important;
    margin-left: 90px !important;
  }
  .landing-logoName {
    padding-left: 90px !important;
    font-size: 54px !important;
  }
  .landing-subtitle {
    padding-left: 90px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
  }
  .landing-button {
    margin-left: 90px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
  }
}

@media (min-width: 768px) {
  #landing-logo {
    width: 160px !important;
    height: 160px !important;
    margin-left: 90px !important;
  }
  .landing-logoName {
    padding-left: 90px !important;
    font-size: 84px !important;
  }
  .landing-subtitle {
    padding-left: 90px !important;
    font-size: 22px !important;
    font-weight: 600 !important;
  }
  .landing-button {
    margin-left: 90px !important;
    font-size: 22px !important;
    font-weight: 600 !important;
  }
}
/*# sourceMappingURL=style.css.map */